<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/app.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	</head>
	<body>
        <header class="header center-align">
            <H2>Eat The Burgers!</H2>
            <img src="../../public/assets/img/burger.jpeg" class='responsive-img' alt="Burger">
            
        </header>
		{{{ body }}}
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
</html>
